$background: hsl(0, 0%, 95%);
$heading: hsl(0, 0%, 95%);
$button: hsl(0, 0%, 95%);
$font-title: "Big Shoulders Display", cursive;
$font-p: "Lexend Deca", sans-serif;
$p-color: hsla(0, 0%, 100%, 0.75);
$sedans: hsl(31, 77%, 52%);
$suvs: hsl(184, 100%, 22%);
$luxury: hsl(179, 100%, 13%);

body {
  background-color: $background;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

@mixin card {
  width: 20rem;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  img {
    width: 4.06rem;
    padding: 3rem 0 0 3rem;
  }

  h1 {
    text-transform: uppercase;
    font-family: $font-title;
    color: $heading;
    padding: 0.5rem 0 0 3rem;
  }

  p {
    font-family: $font-p;
    color: $p-color;
    line-height: 1.5rem;
    padding: 0 2.3rem 1rem 3rem;
    font-size: 1rem;
  }

  .btn {
    border: none;
    background-color: $button;
    font-family: $font-p;
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
    font-size: 0.9rem;
  }

  .btn:hover {
    text-decoration: none;
    color: white;
    border: solid 0.16rem white;
    cursor: pointer;
  }

  #button {
    padding-left: 2.8rem;
  }
}

.sedans {
  @include card;
  background-color: $sedans;
  border-radius: 0.5rem 0.5rem 0 0;

  .btn {
    color: $sedans;
  }

  .btn:hover {
    background-color: $sedans;
  }
}

.suvs {
  @include card;
  background-color: $suvs;

  .btn:hover {
    background-color: $suvs;
  }
}

.luxury {
  @include card;
  background-color: $luxury;
  border-radius: 0 0 0.5rem 0.5rem;

  .btn:hover {
    background-color: $luxury;
  }
}

.attribution {
  font-family: $font-p;
  font-size: 0.7rem;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 64rem) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .sedans,
  .suvs,
  .luxury {
    width: 18rem;
    height: 28rem;

    p {
      font-size: 0.9rem;
    }
  }
  .sedans {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .luxury {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
