body {
  background-color: #f2f2f2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.sedans {
  width: 20rem;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e38826;
  border-radius: 0.5rem 0.5rem 0 0;
}
.sedans img {
  width: 4.06rem;
  padding: 3rem 0 0 3rem;
}
.sedans h1 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  color: #f2f2f2;
  padding: 0.5rem 0 0 3rem;
}
.sedans p {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5rem;
  padding: 0 2.3rem 1rem 3rem;
  font-size: 1rem;
}
.sedans .btn {
  border: none;
  background-color: #f2f2f2;
  font-family: "Lexend Deca", sans-serif;
  width: 9rem;
  height: 3rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}
.sedans .btn:hover {
  text-decoration: none;
  color: white;
  border: solid 0.16rem white;
  cursor: pointer;
}
.sedans #button {
  padding-left: 2.8rem;
}
.sedans .btn {
  color: #e38826;
}
.sedans .btn:hover {
  background-color: #e38826;
}

.suvs {
  width: 20rem;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #006970;
}
.suvs img {
  width: 4.06rem;
  padding: 3rem 0 0 3rem;
}
.suvs h1 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  color: #f2f2f2;
  padding: 0.5rem 0 0 3rem;
}
.suvs p {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5rem;
  padding: 0 2.3rem 1rem 3rem;
  font-size: 1rem;
}
.suvs .btn {
  border: none;
  background-color: #f2f2f2;
  font-family: "Lexend Deca", sans-serif;
  width: 9rem;
  height: 3rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}
.suvs .btn:hover {
  text-decoration: none;
  color: white;
  border: solid 0.16rem white;
  cursor: pointer;
}
.suvs #button {
  padding-left: 2.8rem;
}
.suvs .btn:hover {
  background-color: #006970;
}

.luxury {
  width: 20rem;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #004241;
  border-radius: 0 0 0.5rem 0.5rem;
}
.luxury img {
  width: 4.06rem;
  padding: 3rem 0 0 3rem;
}
.luxury h1 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  color: #f2f2f2;
  padding: 0.5rem 0 0 3rem;
}
.luxury p {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5rem;
  padding: 0 2.3rem 1rem 3rem;
  font-size: 1rem;
}
.luxury .btn {
  border: none;
  background-color: #f2f2f2;
  font-family: "Lexend Deca", sans-serif;
  width: 9rem;
  height: 3rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}
.luxury .btn:hover {
  text-decoration: none;
  color: white;
  border: solid 0.16rem white;
  cursor: pointer;
}
.luxury #button {
  padding-left: 2.8rem;
}
.luxury .btn:hover {
  background-color: #004241;
}

.attribution {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.7rem;
}
.attribution a {
  text-decoration: none;
  color: black;
}
.attribution a:hover {
  text-decoration: underline;
}

@media (min-width: 64rem) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .sedans,
.suvs,
.luxury {
    width: 18rem;
    height: 28rem;
  }
  .sedans p,
.suvs p,
.luxury p {
    font-size: 0.9rem;
  }

  .sedans {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .luxury {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

/*# sourceMappingURL=output.css.map */
